{{- if and (not .Values.homeAssistant.existingAutomationsConfigMap ) .Values.homeAssistant.automations }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "home-assistant.fullname" . }}-automations
data:
  automations.yaml: |- {{ .Values.homeAssistant.automations | nindent 4 }}
{{- end }}
