{{- if and (not .Values.homeAssistant.existingConfigurationConfigMap ) .Values.homeAssistant.configuration }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "home-assistant.fullname" . }}
data:
  configuration.yaml: |- {{ .Values.homeAssistant.configuration | nindent 4 }}
{{- end }}
