{{- if and (not .Values.homeAssistant.existingScenesConfigMap ) .Values.homeAssistant.scenes }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "home-assistant.fullname" . }}-scenes
data:
  scenes.yaml: |- {{ .Values.homeAssistant.scenes | nindent 4 }}
{{- end }}
