{{- if and (not .Values.homeAssistant.existingThemesConfigMap ) .Values.homeAssistant.themes }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "home-assistant.fullname" . }}-themes
data:
  themes.yaml: |- {{ .Values.homeAssistant.themes | nindent 4 }}
{{- end }}
